[workspace]
members = [
    "aethel-run",
    "aethel-d",
    "aethel-common",
    "aethel-storage",
    "aethel-net",
    "aethel-cli"
]

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
strip = true